<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="GrabaLog" value="1"/>
    <!-- 1: Si Graba / 0: No Graba -->
    <add key="RutaLog" value=""/>
    <!-- Define la ruta donde se almacenará el log, en caso de estar vacío será en la ruta de la dll carpeta PPLog  -->
    <add key="NivelLog" value="1"/>
    <!-- Define el nivel del Log: 1: Informativo/Todo / 2: Advertencia / 3: Errores  -->
  </appSettings>
  <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DF_PinPad.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <!--<applicationSettings>
        <DF_PinPad.Settings1>
            <setting name="GrabaLog" serializeAs="String">
                <value>1</value>
            </setting>
        </DF_PinPad.Settings1>
    </applicationSettings>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
