<appSettings>
  <add key="DatabaseSettings.Server" value="" />
  <add key="DatabaseSettings.Database" value="" />
  <add key="DatabaseSettings.User" value="" />
  <add key="DatabaseSettings.Password" value="" />
  <add key="DatabaseSettings.TrustServerCertificate" value="false" />
  <add key="JwtSecret" value="" />
  <add key="JwtHorasExpiracion" value="8" />
</appSettings>
